@import "tailwindcss";

@theme {
  --font-kalameh: var(--local-font-kalameh);
}

:root {
  --e-global-color-primary: #CB11BA;
  --e-global-color-secondary: #372948;
  --e-global-color-text: #D7D7D7;
  --e-global-color-accent: #3E445C;
  --e-global-color-c1a414c: #5B5271;
  --e-global-color-770d2d0: #FFFFFF;
  --e-global-color-eb32136: #5B5271;
  --e-global-color-7021ffe: #5B5271;
  --e-global-color-ff809e8: #231C35;
  --e-global-color-5dbaf57: #100720;
}

body {
  background: var(--e-global-color-5dbaf57);
  @apply font-kalameh overflow-x-hidden;
}

@utility container {
  @apply m-auto px-4 lg:px-24;
}

@utility flex-center {
  @apply flex items-center justify-center;
}
.rtl {
  direction: rtl;
  text-align: right;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-out;
}
